body,
html {
  margin: 0;
  padding: 0;
}

.friend, .buttonsBackNext button, .chip, .addIcon{
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}

.album{
  opacity: 0.8 !important;
}

.album:hover, .friend:hover, .buttonsBackNext button:hover, .chip:hover, .addIcon:hover{
  opacity: 1 !important;
}

.addIcon:hover{
  background-color: gray;
  border-radius: 50%;
}